.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 40vh;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-caption {
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.carousel-caption h2 {
  font-size: 24px;
  color: #e2e497;
}

.carousel-caption a {
  color: #fff;
}

.carousel-caption a:hover {
  color: #e0e0e0;
}

.carousel-caption span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  word-spacing: 1px;
}

.carousel-caption i {
  vertical-align: text-top;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  color: #788d90;
}

.carousel-indicators {
  position: static;
}

.carousel-indicators [data-bs-target] {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  text-align: left;
  background-color: #356618;
  text-indent: 0;
  opacity: 1;
}

.carousel-indicators button:not(:last-child) {
  border-bottom: 3px solid #3f7420;
}

.carousel-indicators button:hover {
  background-color: #468123;
}

.thumbnail_container img {
  border: 2px solid #fff;
}

.thumbnail_container h3 {
  font-size: 20px;
  color: #e2e598;
}

.thumbnail_container p {
  font-size: 14px;
  color: #f7f9f6;
  line-height: 1.5;
}

.decorate {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 100%;
  }

  .carousel-indicators button:not(:last-child) {
    position: relative;
    border-right: 2px solid #2A5A0E;
    border-bottom: 0;
  }

  .carousel-indicators button:not(:last-child)::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    margin-left: -5px;
    border-right: 2px solid #3f7420;
  }

  .thumbnail_container .picture_container {
    width: 75%;
  }

  .thumbnail_container h3 {
    margin-bottom: 8px;
    font-size: 16px;
    color: #e2e598;
  }

  .thumbnail_container p {
    font-size: 14px;
    color: #f7f9f6;
    line-height: 1.5;
    word-spacing: 2px;
  }
}