/* 手機板nav按鈕+logo排版 */
.navbar_container .navbar-toggler {
  border: 0;
}

.navbar_container .navbar-toggler:focus {
  box-shadow: none;
}


/* nav-link */

.navbar_container .nav-link {
  flex: 1;
  background-color: #4b4b4b;
  border-bottom: 2px solid #d7e0d3;
  text-align: center;
}

.navbar_container .navbar-nav .nav-link {
  color: rgba(239, 241, 200, 1);
}

.navbar_container .nav-link:hover,
.navbar_container .nav-link:focus {
  background-color: #daead0;
  color: #293f1d;
}

.navbar_container .navbar-nav .active {
  background-color: #96b285;
  color: #5c814a;
}

@media (min-width: 768px) {
  .navbar_container .navbar-nav {
    border-bottom: 2px solid #d7e0d3;
  }

  .navbar_container .nav-link {
    border-bottom: 0;
  }
}
