* {
  /* outline: 1px solid red; */
}

body {
  background: url("./img/bg-body.jpg");
  min-width: 375px;
  max-width: 992px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container_color {
  background: #356618;
}
header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 5;
}
@media (min-width: 768px) {
  header {
    position: unset;
  }
}
nav .small_logo {
  width: 42px;
  height: 42px;
}

.navbar .nav-link {
  background-color: #4b4b4b;
  color: #eef0c8;
}
.navbar .nav-link:hover,
.navbar-nav .nav-link.active:hover {
  background-color: #d9ead0;
  color: #000;
}
.navbar-nav .nav-link.active {
  background-color: #96b285;
  color: #427125;
}
nav .navbar-toggler {
  border: none;
}

/*main*/
main {
  padding-top: 58px;/*fixed會使元素位移,要再推回來*/
}
@media (min-width:768px) {
  main {
    padding-top: 0;
  }
}
/*section 1*/
.carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 1rem;
  z-index: 2;
}

.carousel-caption h2 {
  color: #d5d890;
}
.carousel_text {
  display: inline-block;
  width: 100%;
  font-size: 0;
}
.carousel_text:hover {
  background-color: rgba(150, 178, 133, 0.8);
}
.carousel_text > span {
  color: #fff;
  font-size: 16px;
}
@media (max-width: 767px) {
  .carousel_text > span {
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 16px);
    vertical-align: middle;
  }
}
.carousel_text > i {
  color: #768c8f;
  font-size: 16px;
}
@media (max-width: 767px) {
  .carousel_text > i {
    vertical-align: middle;
  }
}

.banner_item .image_box {
  flex-basis: 20%;
}
@media (min-width:768px){
  .banner_item .image_box {
    flex-basis:35%;
  }
}
.banner_text {
  flex-basis: 80%;
}
@media (min-width:768px){
  .banner_text {
    flex-basis: 65%;
  }
}

.banner_item .image_box:hover {
  transform:scale(1.05);
}
.banner_text > h3 {
  color: #d4db8e;
}

/*banner下方圖左右裝飾線*/
@media (min-width: 768px) {
  .banner_content + .banner_content {
    border-left: 2px ridge rgba(216, 213, 213, 0.3);
  }
}

/*section 2*/
.garden_introduce > h3 {
  background-color: #dce8d4;
  color: #7b4e27;
  border-bottom: 2px solid #b6cfa9;
  font-weight: 400;
}

.feature_text h4 {
  color: #9d7d6d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*tips of the week*/
.tips_text > h3 {
  background-color: #dce8d4;
  color: #7b4e27;
  font-weight: 400;
  border-bottom: 2px solid #b6cfa9;
}
@media (min-width: 768px) {
  .tips_text {
    order: 1;
  }
}
/*項目符號樣式*/
.tips ol li::marker {
  font-weight: 600;
}

/*footer*/
.footer_list {
  background-color: #dce8d4;
}
.footer_item {
  border: 1px solid #b6cfa9;
}
.footer_item h4 {
  color: #828083;
  font-weight: 400;
  text-transform: uppercase;
}
.footer_item .item_text p {
  color: #828083;
  margin: 0;
}
/*清除button的預設樣式*/
.footer_item button {
  border-radius: 0;
}
@media (min-width: 576px) {
  .footer_item button {
    pointer-events: none;
  }
}
/*箭頭符號*/
.footer_item button i {
  color: #828083;
  font-size: 26px;
}
@media (min-width: 576px) {
  .footer_item button i {
    display: none;
  }
}
.social_media i {
  color: #346517;
  font-size: 26px;
  text-align: center;
}
.social_media span {
  color: #828083;
}

.social_media span:hover {
  color: #346517;
}
.media_item {
  flex: 0 0 50%;
}
@media(min-width:768px) {
  .media_item {
    width: 120px;
  }
}
.media_item a i {
  vertical-align: middle;
}
.media_item a span {
  vertical-align: middle;
}

@media (min-width: 576px) {
  .footer_item .collapse {
    display: block;
    text-align: center;
  }
  @media (min-width: 992px) {
    .footer_item .collapse {
      text-align: start;
    }
  }
}

.copyright {
  font-size: 14px;
}
@media(min-width:768px){
  .copyright {
    font-size: 18px;
  }
}