* {
  /* outline: 1px solid red; */
}

/*css variable*/
:root {
  --main-color:#356618;
  --bg-color:#dce8d4;
  --border-color:#b6cfa9;
  --title-font-color:#7b4e27;
  --footer-color:#828083;
}

body {
  background: url("./img/bg-body.jpg");
  min-width: 375px;
  max-width: 992px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container_color {
  background-color: var(--main-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

@media (min-width: 768px) {
  header {
    position: unset;
  }
}
.navbar {
  flex-wrap: wrap;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (min-width:768px) {
  .logo {
    justify-content: center;
  }
}

nav .small_logo {
  width: 42px;
  height: 42px;
}

.navbar .nav-link {
  background-color: #4b4b4b;
  color: #eef0c8;
}

.navbar .nav-link:hover,
.navbar-nav .nav-link.active:hover {
  background-color: #d9ead0;
  color: #000000;
}

.navbar-nav .nav-link.active {
  background-color: #96b285;
  color: #427125;
}

nav .navbar-toggler {
  border: none;
}

/*main*/
main {
  padding-top: 58px;
  /*fixed會使其他元素位移,要把其他元素再推回來*/
}

@media (min-width: 768px) {
  main {
    padding-top: 0;
  }
}

/*section 1*/
.carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 1rem;
  z-index: 2;
}

.carousel-caption h2 {
  color: #d5d890;
}

.carousel_text {
  display: inline-block;
  width: 100%;
  font-size: 0;
}

.carousel_text:hover {
  background-color: #96b285cc;
}

.carousel_text > p {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  display: inline;
}

@media (max-width: 767px) {
  .carousel_text > p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 16px);
    vertical-align: middle;
  }
}

.carousel_text>i {
  color: #768c8f;
  font-size: 16px;
}

@media (max-width: 767px) {
  .carousel_text>i {
    vertical-align: middle;
  }
}

/*用100vh減去其他固定距離*/
.carousel-item>img {
  min-height: calc(100vh - 58px - 143px);
  object-fit: cover;
}
.banner_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:768px) {
  .banner_item {
    flex-direction: column;
  }
}
@media (min-width:992px) {
  .banner_item {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .banner_item .image_box {
    flex-basis: 35%;
    margin-bottom: 1rem;
  }
}
.banner_item .image_box img {
  border: 2px solid #ffffff;
}

.banner_text {
  display: none;
  flex-basis: 80%;
}

@media (min-width: 768px) {
  .banner_text {
    display: block;
    flex-basis: 65%;
    text-align:center;
  }
} 
@media (min-width:992px) {
  .banner_text {
    text-align:start;
  }
}

.banner_item .image_box:hover {
  transform: scale(1.05);
}

.banner_text>h3 {
  color: #d4db8e;
}

.banner_content {
  position: relative;
}

/*banner下方圖裝飾線*/
@media (min-width: 768px) {
  .banner_content+.banner_content::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 150px;
    background-color: #d8d5d54d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .banner_content+.banner_content::before {
    height: 105px;
  }
}

/*section 2*/
.garden_introduce>h3 {
  background-color: var(--bg-color);
  color: var(--title-font-color);
  border-bottom: 2px solid var(--border-color);
  font-weight: 400;
  text-shadow: 2px 2px #ffffff;
}

.feature_text h4 {
  color: #9d7d6d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*tips of the week*/
.tips_text h3 {
  background-color: var(--bg-color);
  color: var(--title-font-color);
  border-bottom: 2px solid var(--border-color);
  font-weight: 400;
  text-shadow: 2px 2px #ffffff;

}

@media (min-width: 768px) {
  .tips_text {
    order: 1;
  }
}

/*使用marker修改ol li項目符號樣式*/
/* .tips ol li::marker {
  font-weight: 600;
} */

/*使用css counter計數器*/
.tips_text ol {
  counter-reset: num;
  list-style-type: none; /*取消原有的list-style-type*/
}

.tips_text ol li::before {
  counter-increment: num;
  content: counter(num)".";
  display: inline-block;
  font-weight: 600;
  text-indent: -1.5em;
}

/*footer*/
.footer_list {
  background-color: var(--bg-color);
}

.footer_item {
  border: 1px solid var(--border-color);
}

.footer_item h4 {
  color: var(--footer-color);
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px #ffffff;
}

.footer_item .item_text p {
  color: var(--footer-color);
  margin: 0;
}

/*用偽元素做margin修正折疊頓點*/
.footer_item .item_text::after {
  content: "";
  display: block;
  margin-top: 16px;
}

.footer_item button {
  border-radius: 0; /*清除button的預設樣式*/
  display:flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 576px) {
  .footer_item button {
    pointer-events: none;
    justify-content: center;
  }
}
@media (min-width:992px) {
  .footer_item button {
    justify-content: start;
  }
}

/*箭頭符號*/
.footer_item button i {
  color: #828083;
  font-size: 26px;
}

@media (min-width: 576px) {
  .footer_item button i {
    display: none;
  }
}
.social_media {
  display:flex;
  flex-wrap: wrap;
}
@media (min-width:768px) {
  .social_media {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width:992px){
  .social_media {
    align-items: start;
  }
}
.media_item {
  flex: 0 0 50%;
}

@media (min-width: 768px) {
  .media_item {
    width: 120px;
  }
}

.social_media i {
  color: #346517;
  font-size: 26px;
  text-align: center;
}

.social_media span {
  color: #828083;
}

.social_media span:hover {
  color: #346517;
}

.media_item a i {
  vertical-align: middle;
}

.media_item a span {
  vertical-align: middle;
}

@media (min-width: 576px) {
  .footer_item .collapse {
    display: block;
    text-align: center;
  }

  @media (min-width: 992px) {
    .footer_item .collapse {
      text-align: start;
    }
  }
}

.copyright {
  font-size: 14px;
}

@media (min-width: 768px) {
  .copyright {
    font-size: 18px;
  }
}