* {
  /* outline: 1px red solid; */
}
:root {
  --gap-x: 1rem;
  --gap-y: 1rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h5,
p {
  margin-bottom: 0;
}
body {
  margin: 0;
  background-image: url("../img/bg-body.jpg");
}
.row {
  --bs-gutter-x: var(--gap-x);
  --bs-gutter-y: var(--gap-y);
}
.container {
  padding: var(--gap-y) var(--gap-x);
  /* 改掉container預設左右padding 0.75rem */
}
body > .container {
  background-color: #356619;
  padding: 0 var(--gap-x);
  /* 綠色背景內縮，為網頁內容區 */
}

/* 設定解析度>1200時的內容寬度，覆蓋掉原本bs的設定 */
@media (min-width: 1200px) {
  body > .container {
    max-width: 1067px;
  }
}
.header {
  background-color: #fff;
}
.navbar {
  justify-content: flex-start;
  padding-top: calc(0.5 * var(--gap-y));
  padding-bottom: 0;
}

.navbar-toggler {
  padding: 0;
  margin-bottom: calc(0.5 * var(--gap-y));
  margin-left: calc(0.5 * var(--gap-x));
}

.logo {
  font-size: 0;
  margin-bottom: calc(0.5 * var(--gap-y));
  margin-left: calc(0.5 * var(--gap-x));
}
img[alt="logo_large"] {
  display: none;
}
.logo_link {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.logo_link img {
  width: 100%;
  height: 100%;
}
.navbar-collapse {
  margin-bottom: calc(0.25 * var(--gap-y));
}
/* md以上，大logo固定尺寸
<a>作為container 固定長寬>>螢幕放大縮小時，空白區會縮放*/
@media (min-width: 768px) {
  img[alt="logo_small"] {
    display: none;
  }
  img[alt="logo_large"] {
    display: inline-block;
  }
  .navbar {
    justify-content: center;
  }
  .logo_link {
    width: 400px;
    height: 65px;
  }
  .navbar {
    padding-top: var(--gap-y);
  }
  .logo {
    margin-left: 0;
    margin-bottom: var(--gap-y);
  }
  .header .navbar-expand-md .navbar-collapse {
    flex-basis: 100%;
  }
}

/* 漢堡圖連結，因為沒設navbar-light，bs預設設定不會出來 
取消navbar-light是為了不要吃到bs對navbar-link等的顏色設定*/
.navbar_theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* navbar ul>li顏色設定 */
/* 加大navbar-nav padding */
.navbar_theme .navbar-nav .nav-link {
  background-color: #4b4b4b;
  color: #f1f3ca;
  padding: 1rem 0.5rem;
}
.navbar_theme .navbar-nav .active {
  background-color: #95b285;
  color: #4a7532;
}
.navbar_theme .navbar-nav .nav-link:hover,
.navbar_theme .navbar-nav .nav-link:focus {
  background-color: #d9eacf;
  color: #63725b;
}
/* banner文字在小裝置排在圖下面，在md以上以absolute移到圖上 */
.banner_article {
  background-color: #4b4b4b;
  padding: 1rem;
  font-size: 0;
}
@media (min-width: 768px) {
  .banner_article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* 以left 0 & right 0撐滿整個容器寬 */
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.6);
  }
}
.banner_title {
  color: #edef9f;
}
.banner_text,
.copyright {
  color: #f3f7f0;
}

.carousel-inner .banner_text {
  display: inline-block;
  width: calc(100% - 1.5rem);
  vertical-align: middle;
  font-size: 1rem;
}
.text_more {
  display: inline-block;
  vertical-align: middle;
}
.text_more i {
  font-size: 1.5rem;
  color: #fff;
}

.banner_info > .row,
.footer_container .row {
  --bs-gutter-x: calc(2 * var(--gap-x));
  --bs-gutter-y: calc(2 * var(--gap-y));
}
.banner_info_items img {
  width: 100%;
}
.border_white {
  border: 1px white solid;
}
.banner_info_items .row {
  --bs-gutter-y: 0;
}
.banner_info > .row :not(:last-child) .banner_info_items:after {
  content: "";
  display: inline-block;
  background-color: grey;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(-1 * var(--gap-y));
  /* 寫在.banner_info_items上，有沒有更好的選擇器寫法？ */
}
@media (min-width: 992px) {
  .banner_info > .row :not(:last-child) .banner_info_items:after {
    display: none;
  }
  .banner_info > .row :not(:first-child) .banner_info_items::before {
    content: "";
    display: inline-block;
    background-color: grey;
    width: 1px;
    position: absolute;
    top: calc(-0.5 * var(--gap-y));
    bottom: calc(-0.5 * var(--gap-y));
    left: 0;
  }
}
.banner_info a:hover,
.portfolio a:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.background_light {
  background-color: #fff;
}
.title,
.portfolio .items_title {
  color: #8b6854;
}
.title {
  background-color: #dce7d4;
  border-bottom: 3px #abc79a solid;
}
.items > * + * {
  margin-top: var(--gap-y);
}
.portfolio .items a {
  display: inline-block;
  width: 100%;
}
.items img {
  width: 100%;
}
hr {
  margin: var(--gap-y) 0;
}
.article_container ol {
  margin-bottom: 0;
}
.article_container ol li::marker {
  font-weight: bold;
}
.article_container .article_img {
  width: 100%;
}
@media (min-width: 992px) {
  .article_container .row > :last-child {
    order: -1;
  }
}
.footer_container {
  background-color: #dce8d4;
}
.copyright {
  background-color: #356619;
  margin-left: calc(-0.5 * var(--gap-x));
  margin-right: calc(-0.5 * var(--gap-x));
}

.footer_container h5,
.footer_container p {
  color: #888789;
}

.footer_container > .row > div {
  padding: var(--gap-y) var(--gap-x);
}
.footer_container button {
  width: 100%;
  padding: 0;
}
.footer_container .container {
  border: 1px #abc79a solid;
}
.footer_col:not(:first-child)::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #abc79a;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(-1 * var(--gap-y));
}
.contact {
  text-align: center;
}
.contact div {
  font-size: 0;
}
.contact_text {
  font-size: 1rem;
  display: none;
}
.contact_link {
  display: inline-block;
  width: fit-content;
  color: #888789;
}
.contact_link + .contact_link {
  margin-left: var(--gap-x);
}
.footer_container .btn i {
  color: #888789;
}
@media (min-width: 768px) {
  .footer_container .collapse {
    display: block;
  }
  .footer_container:last-child h5 {
    text-align: left;
  }
  .footer_container .btn i {
    display: none;
  }
  .footer_container button {
    pointer-events: none;
    padding: 0;
  }
  .contact {
    text-align: initial;
  }
  .footer_col:nth-child(odd)::after {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #abc79a;
    position: absolute;
    top: calc(-1 * var(--gap-y));
    bottom: calc(-1 * var(--gap-y));
    right: 0;
  }
  .footer_col:nth-child(2)::before {
    display: none;
  }
}
@media (min-width: 992px) {
  .contact_text {
    display: inline;
  }
  .contact_link {
    display: block;
  }
  .contact_link + .contact_link {
    margin-left: 0;
    margin-top: calc(var(--gap-y) * 0.5);
  }
  .footer_col:not(:first-child)::before {
    display: none;
  }
  .footer_col:not(:first-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #abc79a;
    position: absolute;
    top: calc(-1 * var(--gap-y));
    bottom: calc(-1 * var(--gap-y));
    left: 0;
  }
  /* .footer_col .items::after {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: grey;
    position: absolute;
    top: calc(-1 * var(--gap-y));
    bottom: calc(-1 * var(--gap-y));
    left: 0;
  } */
}
.contact .row > a {
  padding-left: 0;
  padding-right: 0;
}
.contact_link:hover {
  color: #356619;
  transform: scale(1.1);
}
.contact_icon {
  color: #356619;
  font-size: 32px;
}
