/* make a gap by padding */
.py_half_gap {
  padding-top: calc(0.5 * var(--gap-y));
  padding-bottom: calc(0.5 * var(--gap-y));
}
.py_gap {
  padding-top: var(--gap-y);
  padding-bottom: var(--gap-y);
}
.px_gap {
  padding-left: var(--gap-x);
  padding-right: var(--gap-x);
}

/* make a gap by margin */
.mt_half_gap {
  margin-top: calc(0.5 * var(--gap-y));
}
.mt_gap {
  margin-top: var(--gap-y);
}

.mb_gap {
  margin-bottom: var(--gap-y);
}

.me_half_gap {
  margin-right: calc(0.5 * var(--gap-x));
}

.mx_half_gap {
  margin-left: calc(0.5 * var(--gap-x));
  margin-right: calc(0.5 * var(--gap-x));
}
/* 要改gap時，除了以上的值，還要記得改bs .row --bs-gutter-x & .container padding帶入的--bs-gutter-x */
