/* Carousel:不會改變的部分 */

.main_carousel .carousel-control-prev,
.main_carousel .carousel-control-next {
  width: 5%;
}
.carousel_text {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel_icon {
  font-size: 20px;
  color: gray;
}

.carousel_icon:hover {
  color: white;
}

/* Carousel:由小而大會改變的部分  */

.carousel_text {
  display: none;
}

.carousel_text h2 {
  color: #e3e699;
  line-height: 1;
  font-size: 20px;
  text-transform: uppercase;
}

.carousel_text p {
  color: white;
  font-size: 12px;
}

@media (min-width: 768px) {
  .carousel_text {
    display: block;
    position: absolute;
  }
  .carousel_text h2 {
    font-size: 20px;
  }
  .carousel_text p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .carousel_text h2 {
    font-size: 24px;
  }
  .carousel_text p {
    font-size: 16px;
  }
}

/* thumbnail：不會改變的 */

.thumbnail_body_text h3 {
  color: #e3e699;
  font-size: 16px;
}

.thumbnail_body_text p {
  color: white;
  font-size: 13px;
}

.thumbnail_body_image {
  height: 90px;
  border: 1px solid white;
}

a.thumbnail_body_image {
  display: inline-block;
}

a.thumbnail_body_image:hover {
  opacity: 0.8;
}

/* thumbnail：由小而大會改變的部分 */

.thumbnail_body {
  display: flex;
  flex-grow: 1;
  text-align: left;
}

.thumbnail_body_text {
  margin: 0 0 0 16px;
}

@media (min-width: 768px) {
  .main_carousel_thumbnail {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
  }
  .thumbnail_body {
    display: block;
    text-align: center;
  }
  .thumbnail_body:not(:last-child) {
    box-shadow: 4px 0 3px -3px #4d8928;
  }
  .thumbnail_body_text {
    margin: 16px 0 0 0;
  }
}

@media (min-width: 992px) {
  .thumbnail_body {
    display: flex;
  }

  .thumbnail_body_text {
    margin: 0 0 0 16px;
    text-align: left;
  }
  .thumbnail_body_text p {
    display: block;
  }
}

/* gallery:不會改變的  */

.main_gallery {
  background-color: white;
}

a.gallery_image {
  display: inline-block;
}

.gallery_text h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #836045;
}

.gallery_text p {
  font-size: 13px;
}

.gallery_title {
  line-height: 40px;
  font-size: 20px;
  text-shadow: 1px 1px white;
  color: #836045;
  background-color: #dbe8d4;
  border-bottom: #b3cca3 2px solid;
}

a.gallery_image_outlook:hover {
  opacity: 0.8;
}

/* gallery:由小而大會改變的部分  */

.gallery_body {
  display: flex;
}

.gallery_text {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .gallery_body {
    display: block;
    text-align: center;
  }
  .gallery_text {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .gallery_body {
    text-align: left;
  }
}

.hr_line {
  border: 0.5px solid gray;
}

/* tips:不會改變的 */

.tips_title {
  line-height: 40px;
  font-size: 20px;
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  color: #836045;
  background-color: #dbe8d4;
  border-bottom: #b3cca3 2px solid;
}

.tips_text_outlook ul {
  padding-left: 1rem;
  list-style: decimal;
  /* list-style-position: inside; */
  font-size: 14px;
}

.tips_text_outlook > ul li::marker {
  font-weight: bold;
}

/* tips:由小而大會改變的部分  */

.tips_outlook {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .tips_outlook {
    flex-direction: row;
    gap: 20px;
  }

  .tips_image_outlook {
    flex-basis: 0;
    flex-grow: 1;
  }
  .tips_text_outlook {
    flex-basis: 0;
    flex-grow: 2;
  }
}

.thumbnail_text {
  margin: 0;
}
