:root {
    --w-mobile-min: 375px; /* iPhone SE */

    --green: #326611;
    --bright-green: #DCE8D4;
    --brown: #81533c;
}

body {
    background-image: url("img/bg-body.jpg");
}

.container_body {
    min-width: var(--w-mobile-min);
    background-color: var(--green);
}

header {
    padding-bottom: 2px;
}

.nav_link {
    color: #E4E6C0;
    background-color: #4B4B4B;
}

.nav_link.active {
    color: var(--green);
    background-color: #96B285;
}

.nav_link:hover {
    color: #4B4B4B;
    background-color: #DAEACF;
}

[class^="carousel-control-"] {
    visibility: hidden;
}

[class^="carousel-control-"]:hover {
    background-color: black;
    opacity: 0.3;
}

.carousel-caption h2,
article h2 {
    color: #e9ec9d;
}

.carousel-caption [class^="fa"] {
    color: #798f92;
}

.caption_selectable_text *:hover {
   color: var(--green);
   background-color: var(--bright-green);
}

.carousel-caption .truncate-twoline {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.topics {
    background-color: white;
}

.topics h3 {
    color: var(--brown);
}

.topics h2 {
    border-bottom: #afca9f 2px solid;
    background-color: #DBE8D4;
    color: var(--brown);
    text-shadow: 1px 1px white;
}

.indicator_img {
    transition: scale 0.2s ease;
}

.indicator_img:hover {
    scale: 1.15;
}

.section_tips li {
    padding-left: 0.5rem;
}

.section_tips li::marker {
    font-weight: bold;
}

.tips_list {
    height: 230px;
    overflow-y: auto;
}

.accordion-button_custom {
    padding: 0;
    color: gray;
    background-color: var(--bright-green);
    justify-content: center;
    border: 0px;
}

.accordion-button_custom::after {
    position: absolute;
    right: 0;
}

.accordion-button_custom:not(.collapsed) {
    color: gray;
    background-color: var(--bright-green);
    box-shadow: none;
}

.more_info {
    color: gray;
    background-color: var(--bright-green);
    border-color: #c7d9bc !important;
}

.more_info >* {
    width: fit-content;
}

.more_info h2 * {
    text-shadow: 1px 1px white;
}

.more_info [class^="fa"] {
    color: var(--green);
}

.more_info a {
    color: gray;
}

.more_info a:hover {
    color: var(--green);
}
