:root {
    --num-nav-items: 6;
    --num-info-items: 4;

    --green: #326611;
    --bright-green: #DCE8D4;
    --brown: #81533c;
}

body {
    background-image: url("img/bg-body.jpg");
}

.body-wrapper {
    min-width: 500px;
    background-color: var(--green);
}

.site-logo .navbar-toggler {
    flex-basis: 80px;
    font-size: 2rem;
}

nav :is(li, a) {
    display: inline-block;
}

.row >* {
    padding-left: 0;
    padding-right: 0;
}

nav a {
    color: #E4E6C0;
    background-color: #4B4B4B;
}

nav a[label="active"] {
    color: var(--green);
    background-color: #96B285;
}

nav a:hover {
    color: #4B4B4B;
    background-color: #DAEACF;
}

.topics {
    background-color: white;
}

.carousel-caption h2,
article h2 {
    color: #e9ec9d;
}

.carousel-caption [class^="fa"] {
    color: #798f92;
}

.topics h2 {
    background-color: #DBE8D4;
    color: var(--brown);
    border-bottom: #afca9f 2px solid;
    text-shadow: 1px 1px white;
}

.topics h3 {
    color: var(--brown);
}

footer {
    background-color: var(--bright-green);
}

footer .info {
    color: gray;
    border-color: #c7d9bc !important;
}

footer .info h2 {
    text-shadow: 1px 1px white;
}

footer .info i {
    color: var(--green);
}

footer .info a {
    color: gray;
}

footer .info a:hover {
    color: darkgreen;
}
