/* * {
  outline: 1px solid red;
} */

body {
  background-image: url("../img/bg-body.jpg");
  min-width: 320px;
}

/* 前面放一個自己的class 避免範圍太大，選到其他的container */
.dev.container {
  background-color: #356618;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

@media (min-width: 992px) {
  body .container {
    max-width: 940px;
  }
}
