/* footer：不會變的部分 */

footer {
  background-color: #dbe9d4;
  color: gray;
}

.footer_body i {
  font-size: 34px;
  color: #356618;
}

.footer_body h5 {
  text-shadow: 2px 2px white;
}

.footer_text a {
  display: block;
  color: gray;
  text-decoration: none;
}

.footer_body a:hover,
.footer_body i:hover {
  color: orange;
}

.copyright {
  color: white;
  background-color: #356618;
  text-align: center;
}
.copyright span {
  display: none;
}

/* footer: 由小而大會改變的部分 */

.footer_items:not(.footer_items:last-of-type) {
  border-bottom: 1px #b3cca3 solid;
}

.footer_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer_items:first-of-type,
  .footer_items:nth-of-type(3) {
    border-right: 1px #b3cca3 solid;
  }
  .footer_body {
    align-items: flex-start;
  }

  .footer_body h5 {
    margin-bottom: 16px;
  }
  .copyright span {
    display: inline-block;
  }
  .copyright br {
    display: none;
  }
}

@media (min-width: 992px) {
  .footer_items:not(.footer_items:nth-of-type(4)) {
    border-right: 1px #b3cca3 solid;
  }
}

/* 手風琴改寫 */
.accordion-button,
.collapsed {
  text-shadow: 2px 2px #fff;
  background-color: #dbe9d4;
  text-align: center;
  justify-content: center;
}
.accordion-button span {
  color: #808080;
  font-size: 1.25rem;
}

.accordion-body {
  background: #dbe9d4;
  text-align: center;
}

.accordion-body a {
  display: block;
  text-decoration: none;
  color: #808080;
}

.accordion-body a:hover {
  color: #356618;
}

.accordion-item .accordion-button:not(.collapsed) {
  background-color: #dbe9d4;
}
