.header_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  background-color: white;
}

.header_box .header_box_button {
  box-shadow: 0 0 0 0;
}

.header_navbar .navbar-nav {
  width: 100%;
  background-color: #535151;
  border-bottom: 2px solid white;
}

.header_navbar .nav-item {
  flex: 1;
  text-align: center;
}

.navbar-nav .nav-link.active {
  background-color: rgb(157, 177, 138);
  color: rgb(45, 110, 37);
}

.header_navbar .navbar-nav .nav-item .nav-link {
  color: #f4f5c7;
}

.header_navbar .nav-item .nav-link:hover {
  background-color: #d5e4cc;
  color: black;
  border-radius: 0;
}

.header_navbar .nav-item .nav-link:focus {
  background-color: #95b285;
  color: #39691d;
  border-radius: 0;
}

.header_box .navbar-toggler-icon {
  background-image: url(/Jessie_t3/img/navbar.svg);
}

/* 由小而大後，讓漢堡消失 */
@media (min-width: 768px) {
  .header_box_button {
    display: none;
  }
}
