/* main top section */

.carouselItem {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--whiteColor);
  padding: 1rem;
}

.carouselItem h2 {
  color: var(--topicWordColor);
}

/* main middle section */

.gardenButton button {
  background-color: var(--mainColor);
  border: none;
  padding: 0;
}

.gardenButton button h3 {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--topicWordColor);
}

.gardenButton button p {
  color: var(--whiteColor);
  margin: 0;
}

.gardenButton .item {
  text-align: left;
  margin: 0 0 0 1rem;
}

/* .gardenButton button img */

.gardenButton .imagePack {
  padding: 1rem;
  border-left: 2px ridge rgb(150, 178, 133, 50%);
}

.gardenButton button img {
  width: 100px;
  flex: none;
  border: 2px solid white;
}

.gardenButton button img:hover {
  transform: scale(1.3);
  transition: 0.1s;
}

.gardenButton button img[alt="gardening1"]:hover {
  content: url(../images/YR1.jpg);
}

.gardenButton button img[alt="gardening2"]:hover {
  content: url(../images/YR2.jpg);
}

.gardenButton button img[alt="gardening3"]:hover {
  content: url(../images/YR3.jpg);
}

/* .gardenButton .col+.col {
    border-left: 2px ridge rgb(150, 178, 133, 50%);
} */

.gardenButton .col {
  padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 768px) {
  .gardenButton .col + .col {
    border-top: 2px ridge rgb(150, 178, 133, 50%);
    border-left: none;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

/* main below section */

.mainBelowSection h4 {
  text-transform: uppercase;
  color: var(--insetWordColor);
  text-shadow: 0 1px 0 white;
  box-shadow: 0 2px 1px var(--navHomeColor);
  background-color: var(--bannerColor);
}

/* main below section image*/

.mainBelowSection img:hover {
  transition: 0.1s;
  box-shadow: 2px 2px 3px black;
  border-radius: 50%;
  content: url(../images/courage\ dog.jpg);
}

/* main below section image*/

.mainBelowSection h5 {
  margin-top: 1rem;
  text-transform: uppercase;
  color: var(--insetWordColor);
}

/* 
.mainBelowSection h5[alt="garden2"] {
    content: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
} */

.mainBelowSection p {
  margin-bottom: 0;
  line-height: 1.8rem;
}

/* main below article */

.mainBelowSection .paragraph h4 {
  background-color: var(--bannerColor);
  text-transform: uppercase;
  color: var(--insetWordColor);
  text-shadow: 0 1px 0 white;
  box-shadow: 0 2px 1px var(--navHomeColor);
}

/* .mainBelowSection img[alt="garden5"] {
    width: 100%;

} */

/* @media screen (max-width: 768px) {

    .mainBelowSection img[alt="garden5"] {
        width: 20px;

    }

} */

/* main bottom article */

.mainBottom h6 {
  text-transform: uppercase;
  text-shadow: 0 1px 1px white;
  margin: 0;
}

.mainBottom h6,
.mainBottom .card-text,
.buttonHide .card-body,
.mainBottom a {
  color: var(--bottomWordColor);
}

.mainBottom .card-body,
.buttonHide {
  background-color: var(--bannerColor);
}

.buttonHide .card-body {
  background-color: var(--bannerColor);
  text-align: center;
  box-shadow: 0 -2px 0 rgb(0, 0, 0, 50%);
}

.buttonHide .btn,
.buttonHide .card-body {
  border-radius: 0px;
}

/* card */

.mainBottom a {
  text-decoration: none;
}

.mainBottom i {
  text-shadow: 0 1px 1px white;
  color: var(--mainColor);
}

.mainBottom .card {
  height: 100%;
}
