body {
    background-image: url(../img/bg-body.jpg);
}

.container-lg {
    background-color: #356618;
    max-width: 900px;
    min-width: 300px;
}

* {
    /* outline: palevioletred 1px solid; */
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

a {
    text-decoration: none;
}
