@import url(/style/setting.css);

.column {
  background-color: #ffffff;
}

.column h4 {
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  font-weight: 400;
  background-color: var(--theme-color2);
  border-bottom: var(--accent-color1) 1.5px solid;
  color: var(--accent-color4);
  text-shadow: 2px 1px #ffffff;
}

.carousel__cards {
  margin-top: 1rem;
  background-color: #ffffff;
}

.card__wrapper {
  display: flex;
  justify-content: center;
}

.card__wrapper img {
  border-radius: unset;
}

.card__wrapper .card {
  border: unset;
}

.card__wrapper h5 {
  color: var(--accent-color4);
}

/* featured */
.featured__pc {
  display: none;
}

@media (min-width: 576px) {
  .featured__pc {
    display: unset;
  }
}

.featured__pc .row {
  margin-top: 2rem;
}

@media (min-width: 576px) {
  .featured__phone {
    display: none;
  }
}

.column hr {
  border-width: 2px;
  color: #d2d1ce;
}

.column .card-body {
  padding-left: 0;
}

.column h5 {
  display: inline-block;
}

/* weekly */
.weekly__container img {
  width: 100%;
}

.weekly__container .card-body {
  order: 4;
}

.weekly__container ol {
  margin: auto -0.5rem;
  width: 100%;
}

.weekly__container li::marker {
  font-weight: bold;
  padding: -1rem;
}

.weekly__text {
  display: contents;
}

@media (min-width: 576px) {
  .weekly__text {
    padding-left: 1.5rem;
    display: block;
  }
}

.weekly__img {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .weekly__img {
    margin-top: unset;
  }
}
