@import url(style/setting.css);

.coverstory .carousel-item {
    height: 300px;
}

@media (min-width:576px) {
    .coverstory .carousel-item {
        height: 100%;
    }
}


.coverstory .carousel-item img {
    min-height: 100%;
    object-fit: cover;
}

.coverstory .carousel-caption {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.6);
    z-index: 2;
}

.coverstory .carousel-caption h2 {
    color: var(--accent-color3);
}

.coverstory .carousel-caption span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--accent-color5);
}

@media (min-width:576px) {
    .coverstory .carousel-caption span {
        display: initial;
        text-overflow: initial;
        width: 95%;
        white-space: normal;
    }
}

@media (min-width:576px) {
    .coverstory .carousel-caption i {
        vertical-align: middle;
        color: var(--accent-color5);
    }
}

.topics {
    background-color: var(--theme-color1);
}

.topics h3 {
    margin-top: -0.4rem;
}

.topics__card {
    margin: 0.5rem 0;
    background-color: var(--theme-color1);
    position: relative;
}

@media (min-width:576px) {
    .topics__card {
        margin: 0;
    }
}

.topics__card-picture {
    width: 7rem;
    flex-shrink: 0;
}

@media (min-width:320px) and (max-width:768px) {
    .topics__card-picture {
        width: 4rem;
    }

}

.topics__card-picture img {
    border: #ffffff solid 1px;
    align-items: center;
}

.topics__card-text h3 {
    color: var(--accent-color3);
}

.topics__card-text p {
    margin: 0;
    color: #ffffff;
}

.topics__card-container {
    display: flex;
    flex-direction: row;
    margin: 0;

    @media (min-width:576px) {
        padding: 1rem;
    }
}

.topics>div+div::before {
    position: absolute;
    width: 2px;
    height: 100%;
    content: "";
    background-color: #4e9227;
    box-shadow: 1px 0px #0f5813;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width:320px) and (max-width:768px) {
    .topics>div+div::before {
        visibility: hidden;
    }
}