@import url(/style/setting.css);

/* footer */
.placeholder__container {
  background-color: var(--theme-color2);
  border-top: var(--accent-color1) solid 1.5px;
}

.card-group .card {
  border-color: var(--accent-color1);
  border-width: 1px;
}

.card-group > .card:nth-child(1) {
  border-top: var(--accent-color1) solid 1.5px;
}

@media (min-width: 576px) {
  .card-group > .card:nth-child(1),
  .card-group > .card:nth-child(2),
  .card-group > .card:nth-child(3) {
    border-right: var(--accent-color1) solid 1.5px;
  }
  .card-group > .card:nth-child(1) {
    border-left: none;
  }

  .card-group > .card:nth-child(4) {
    border-right: none;
  }
}

.placeholder__container h5 {
  color: #8c8e8a;
  font-size: larger;
  text-shadow: 2px 1px #ffffff;
}

.placeholder__container p {
  color: #8c8e8a;
}

/* copyright */
.copyright {
  text-align: center;
  padding: 0.5rem 0;
}

.copyright p {
  text-align: center;
  color: #ffffff;
  display: inline-block;
  width: 80%;
}

.copyright p span {
  display: inline-block;
}

@media (min-width: 576px) {
  .copyright > p > span + span {
    position: relative;
    padding-left: 0.5rem;
  }

  .copyright > p > span + span::before {
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 70%;
    content: "";
    background-color: #ffffff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.socialmedia a {
  display: block;
}

@media (min-width: 576px) {
  .socialmedia a:hover {
    color: var(--theme-color1);
  }
}

.socialmedia a i {
  font-size: 20px;
  color: var(--theme-color1);
}

.socialmedia span {
  color: #8c8e8a;
  font-weight: 500;
}

@media (min-width: 576px) {
  .socialmedia span:hover {
    color: var(--theme-color1);
  }
}
