@media (min-width:576px) {
    .nav__items {
        flex-direction: row;
    }

    .container-fluid {
        flex-direction: column;
    }

    .navbar-brand {
        width: initial;
    }

    .navbar-brand img {
        width: 100%;
    }

}