* {
    /* outline: red .5px solid; */
}

/* setting */
.card {
    border-radius: 0;
}

:root {
    --hover-opacity: .7;
    --theme-color1: #37671C;
    --theme-color2: #DAEAD0;
    --accent-color1: #ABC79A;
    --accent-color2: #4B4B4B;
    --accent-color3: #E2E698;
    --accent-color4: #8F6444;
    --accent-color5: #feffe6;
    --nav-home: #96B285;
    --nav-default: #4B4B4B;
    --nav-default2: #F1F3C9;
    --nav-hover: #96B285;
}

.page__background {
    background-color: var(--theme-color1);
}

/* nav */
.nav-toggler {
    display: inline-block;
}

.navbar-toggler {
    padding: 1px;
    color: var(--theme-color2);
}


.offcanvas-header {
    background-color: var(--theme-color1);
}

.offcanvas-title {
    color: #ffffff;
}

.offcanvas-body {
    background-color: var(--accent-color5);
    padding: initial;
}


.navbar .nav-link.active {
    color: var(--theme-color1);
}

.nav-item:hover {
    background-color: var(--accent-color1);
}

/* cover story */
.coverstory .carousel-item img {
    min-height: 100%;
    object-fit: cover;
}

.card-body .coverstory {
    background-color: var(--theme-color2);
}

.card-body i {
    color: var(--theme-color1);
}

.coverstory .card__tips {
    background-color: var(--theme-color2);
    opacity: .8;
    border-radius: 0;
}

/* topics */
.topics__card {
    background-color: var(--theme-color1);
}


.topics__card-picture {
    border: #ffffff solid 1px;
}

.topics__card-text h3 {
    color: var(--accent-color3);
}

.topics__card-text p {
    color: #ffffff;
}

.topics__card-container {
    display: flex;
    flex-direction: row;
}

/* carousel cards */
.carousel__cards {
    margin-top: 1rem;
}

.card__wrapper {
    display: flex;
    justify-content: center;
}

.card__wrapper img {
    border-radius: initial;
}

.card__wrapper .card {
    border: initial;
}

.card__wrapper h5 {
    color: var(--accent-color4);
}

/* weekly */
.weekly__wrapper {
    display: flex;
    justify-content: center;
}

.weekly__wrapper .card {
    border: initial;
}

.weekly__wrapper img {
    border-radius: initial;
}

.weekly__wrapper ::marker {
    font-weight: bold;
}