/* * {
    outline: rgb(0, 187, 255) .5px solid;
} */

/* setting */
.card {
    border-radius: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    margin: 0;
}

:root {
    --hover-opacity: .8;
    --theme-color1: #37671C;
    --theme-color2: #DAEAD0;
    --accent-color1: #ABC79A;
    --accent-color2: #4B4B4B;
    --accent-color3: #E2E698;
    --accent-color4: #8F6444;
    --accent-color5: #feffe6;

    --nav-home: #96B285;
    --nav-default: #4B4B4B;
    --nav-default2: #F1F3C9;
    --nav-hover: #96B285;
}

.card__wrapper :hover {
    opacity: var(--hover-opacity);
}


/* nav */
.navbar .container-fluid {
    padding: 0rem 0.5rem;
}

/* 手機版nav‘s spacing */

/* logo */
.navbar-brand img {
    width: auto;
}

.navbar-brand img:hover {
    opacity: var(--hover-opacity);
}

.navbar-brand {
    align-self: center;
}

/* nav links */
.nav__items {
    width: 100%;
}

/* .navbar-toggler {
    display: inline-block;
} */

.navbar-toggler {
    align-self: center;
    padding: 1px;
    color: transparent;
}

.offcanvas-header {
    background-color: var(--theme-color1);
    opacity: var(--hover-opacity);
}

.offcanvas-title {
    color: #ffffff;
}

.offcanvas-body {
    padding: initial;
    background-color: var(--nav-default);
}

.offcanvas-body li {
    background-color: var(--nav-default);
    opacity: var(--hover-opacity);
}

.offcanvas-body li:hover {
    background-color: var(--nav-hover);
}

.offcanvas-body li:nth-child(1) {
    background-color: var(--nav-home);
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--nav-default2);
}

.navbar-nav .nav-link.active:hover {
    color: var(--theme-color1);
}

/* cover story */
.coverstory .carousel-item {
    height: 300px;
}

.coverstory .carousel-item img {
    min-height: 100%;
    object-fit: cover;
}

.card-body .coverstory {
    background-color: var(--theme-color2);
}

.card-body i {
    color: var(--theme-color1);
}

.coverstory .card__tips {
    background-color: var(--theme-color2);
    opacity: .8;
    border-radius: 0;
}

.coverstory .carousel-caption {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* padding: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.6);
    z-index: 2;
}

.coverstory .carousel-caption h2 {
    color: var(--accent-color3);
}

.coverstory .carousel-caption span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--accent-color5);
}

.coverstory .carousel-caption i {
    vertical-align: middle;
    color: var(--accent-color5);
}


/* topics */
.topics {
    background-color: var(--theme-color1);
}

.topics h3 {
    margin-top: -0.4rem;
}

.topics__card {
    margin: 0.5rem 0;
    background-color: var(--theme-color1);
}

.topics__card-picture {
    width: 7rem;
    flex-shrink: 0;
}

.topics__card-picture img {
    border: #ffffff solid 1px;
    align-items: center;
}

.topics__card-text h3 {
    color: var(--accent-color3);
}

.topics__card-text p {
    margin: 0;
    color: #ffffff;
}

.topics__card-container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

/* divider */
.topics__card {
    position: relative;
}

.topics>div+div::before {
    position: absolute;
    width: 2px;
    height: 100%;
    content: "";
    background-color: #4e9227;
    box-shadow: 1px 0px #0f5813;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* carousel cards */
.articles__heading h4 {
    width: 100%;
    background-color: var(--theme-color2);
    border-bottom: var(--accent-color1) 1.5px solid;
    font-weight: 400;
    color: var(--accent-color4);
    text-shadow: 2px 1px #FFFFFF;
}

.carousel__cards {
    margin-top: 1rem;
    background-color: #ffffff;
}

.card__wrapper {
    display: flex;
    justify-content: center;
}

.card__wrapper img {
    border-radius: initial;
}

.card__wrapper .card {
    border: initial;
}

.card__wrapper h5 {
    color: var(--accent-color4);
}

/* articles */
.articles__pc {
    display: none;
}

.articles__pc .row {
    margin-top: 2rem;
}

.articles hr {
    border-width: 2px;
    color: #d2d1ce;
}

.articles .card-body {
    padding-left: 0;
}

.articles h5 {
    display: inline-block;
}

/* weekly */
.weekly__container img {
    width: 100%;
}

.heading__text {
    padding: 0.5rem 0rem 0.5rem 1.5rem;
}

/* footer-placeholder  */
.placeholder__container {
    background-color: var(--theme-color2);
    border-right: var(--accent-color1) solid 1.5px;
}

.placeholder__container h5 {
    color: #8C8E8A;
}

.placeholder__container p {
    color: #8C8E8A;
}

/* copyright */
.copyright {
    background-color: var(--theme-color1);
    text-align: center;
}

.copyright p {
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    width: 80%;
}

.copyright p span {
    display: inline-block;
}

.articles {
    background-color: #FFFFFF;
}

.snslinks a {
    display: block;
}

.snslinks a i {
    font-size: 20px;
    color: var(--theme-color1);
}

.snslinks span {
    color: #8C8E8A;
    font-weight: 500;
}

/* pc version */
@media (min-width:576px) {

    .page__background {
        background-color: var(--theme-color1);
    }

    /* logo */
    .navbar-brand {
        margin: 1rem 0;
    }

    /* nav */
    .nav__items {
        flex-direction: row;
    }

    .container-fluid {
        flex-direction: column;
    }

    .navbar-brand {
        width: initial;
    }

    .navbar-brand img {
        width: 100%;
    }

    .navbar .container-fluid {
        padding: 0;
        align-items: stretch;
    }

    .nav__items .nav-link {
        text-align: center;
    }

    .nav__items .nav-item {
        flex-grow: 1;
        border-bottom: var(--accent-color3) solid 2px;
    }


    .coverstory .carousel-item {
        height: 100%;
    }

    .header__sp {
        display: none;
    }

    .header__pc .container {
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
    }

    body {
        background-image: url(/img/bg-body.jpg);
    }

    .coverstory .carousel-caption span {
        display: initial;
        text-overflow: initial;
        width: 95%;
        white-space: normal;
    }

    .topics__card {
        margin: 0;
    }


    /* articles */
    .articles {
        display: flex;
        justify-content: center;
    }


    .articles__container {
        width: 98%;
    }

    .articles__phone {
        display: none;
    }

    .articles__pc {
        display: initial;
    }

    /* weekly */
    .weekly__text {
        padding-left: 1rem;
    }

    .topics__card-container {
        padding: 1rem;
    }

    .copyright>p>span+span {
        position: relative;
        padding-left: 0.5rem;
    }

    .copyright>p>span+span::before {
        display: inline-block;
        position: absolute;
        width: 2px;
        height: 70%;
        content: "";
        background-color: #FFFFFF;
        top: 50%;
        left: 0;
        /* left: 50%; */
        transform: translateY(-50%);
    }


}

@media (min-width:320px) and (max-width:768px) {
    .topics__card-picture {
        width: 4rem;
    }

    .topics>div+div::before {
        visibility: hidden;
    }
}