* {
    /* outline: red .5px solid; */
}

/* reset */
.card {
    border-radius: 0;
}

:root {
    --hover-opacity: .7;
    --theme-color1: #37671C;
    --theme-color2: #DAEAD0;
    --accent-color1: #ABC79A;
    --accent-color2: #4B4B4B;
    --accent-color3: #E2E698;
    --accent-color4: #8F6444;
    --accent-color5: #feffe6;
}


.nav-toggler {
    display: inline-block;
}

.navbar-toggler {
    padding: 1px;
    color: var(--theme-color2);
}


.offcanvas-header {
    background-color: var(--theme-color1);
}

.offcanvas-title {
    color: #ffffff;
}

.offcanvas-body {
    background-color: var(--accent-color5);
}

.navbar .nav-link.active {
    color: var(--theme-color1);
}

.nav-item:hover {
    background-color: var(--accent-color1);
}


/* cover story */
.coverstory .carousel-item img {
    min-height: 100%;
    object-fit: cover;
}

.card-body .coverstory {
    background-color: var(--theme-color2);
}

.card-body i {
    color: var(--theme-color1);
}

.coverstory .card__tips {
    background-color: var(--theme-color2);
    opacity: .8;
    border-radius: 0;
}

/* topics */
.topics__card {
    background-color: var(--theme-color1);
}


.topics__card-picture {
    border: #ffffff solid 1px;
}

.topics__card-text h3 {
    color: var(--accent-color3);
}

.topics__card-text p {
    color: #ffffff;
}

.topics__card-container {
    display: flex;
    flex-direction: row;
}

/* carousel cards */
.carousel__cards {
    margin-top: 1rem;
}

.card__wrapper {
    display: flex;
    justify-content: center;
}

.card__wrapper img {
    border-radius: initial;
}


/* test AAAA */
/* .topics .card__topics {
    background-color: var(--theme-color1);
}

.card__topics img {
    width: 10em;
}


.card__topics .card-title {
    display: inline-block;
    color: var(--accent-color3);
}

.card__topics .card-text {
    display: inline-block;
    color: #ffffff;
}

.card__banner {
    background-color: var(--theme-color2);
    border-bottom: var(--theme-color1);
}

.card__banner h3 {
    color: var(--accent-color4);
}

.card__featured h5 {
    color: var(--accent-color4);
    margin: 1em auto;
}

.card__featured p {
    font-weight: 500;
} */

/* test AAA */