/* * {
  outline: 1px solid red;
} */


body {
  background-image: url(./img/bg-body.jpg);
}

.container {
  background-color: #356618;
  min-width: 300px;
}

a {
  text-decoration: none;
}

.card {
  border: none;
}

/* header */
header {
  background-color: white;
}

.header_wrapper {
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
}

.logo a {
  display: inline-block;
}



nav {
  background-color: #4B4B4B;
}

.navbar-nav {
  border-bottom: 1px solid white;
}

.navbar-light .navbar-nav .nav-link {
  color: #f4f5c7;

}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  background-color: #D9EACF;
  color: black;
}

.navbar-light .navbar-nav .active {
  background-color: #95b285;
  color: #406e26;
}

@media screen and (min-width: 992px) {
  .navbar_button {
    display: none;
  }
}

/* section banner */
.banner_text {
  display: none;
}

@media screen and (min-width: 992px) {
  .banner_text {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.banner_text h2 {
  text-transform: uppercase;
  color: #e8ec9d;
}

.banner_text p {
  color: white;
}

.banner_text i {
  color: #788E91
}

.banner_text a {
  display: block;
}

.banner_text a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.banner_text a:hover p,
.banner_text a:hover i {
  color: #406e26;
}

@media screen and (min-width: 992px) {
  .banner_list a {
    margin-left: 16px;
  }
}


.banner_list_img_box {
  flex-direction: row;
  background-color: transparent;
}

.banner_list_img_box>div+div {
  border-top: 1px solid #6c757d;
}

.banner_list_img_box h5 {
  color: #e8ec9d;
}

.banner_list_img_box p {
  color: white;
}

.banner_list_img_box img {
  border: 2px solid white;
}

.logo:hover,
.banner_list_img_box img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 576px) {
  .banner_list_img_box .card-body {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 576px) {
  .banner_list_img_box>div {
    margin: 16px 0;
  }

  .banner_list_img_box>div+div {
    border-top: unset;
    border-left: 1px solid #6c757d;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner_list_img_box h5 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .banner_list_img_box h5 {
    text-align: center;
  }

  .banner_list_img_box img {
    margin-top: 16px;
  }

}

/* section weekly_topics */
.weekly_topics {
  background-color: white;
}

.weekly_topics h2 {
  background-color: #DBE8D4;
  color: #836045;
  border-bottom: #b3cca3 2px solid;
  text-transform: uppercase;
}

.garden_img:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.weekly_tips h2 {
  margin-top: 1.5rem;
}

@media screen and (min-width: 992px) {
  .weekly_tips h2 {
    margin-top: 0;
  }
}

.weekly_topics h5 {
  color: #836045;
  text-transform: uppercase;
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .weekly_topics h5 {
    height: 48px;
  }

}

/* footer */
.footer_blocks {
  background-color: #dbe9d4;
  color: gray;
}

.footer_block {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .footer_block {
    text-align: unset;
  }
}

.footer_block h4 {
  text-transform: uppercase;
  text-shadow: 1px 1px white;
}

.footer_block:not(.footer_block:nth-of-type(4)) {
  border-bottom: 1px #b3cca3 solid;
}

@media screen and (min-width: 768px) {
  .footer_block:nth-of-type(2n) {
    border-left: 1px #b3cca3 solid;
  }
}

@media screen and (min-width: 992px) {
  .footer_block:not(.footer_block:nth-of-type(4)) {
    border-left: 1px #b3cca3 solid;
  }
}

.footer_block p {
  margin: 0;
}

.social_media a {
  display: block;
  color: gray;
  text-align: start;
  width: 7em;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .social_media a {
    width: unset;
    text-align: unset;
    margin: unset;
  }
}

.social_media i {
  font-size: 1.5em;
  color: #356618;
  vertical-align: middle;
}

.social_media span {
  vertical-align: middle;
}

.social_media a:hover i,
.social_media a:hover span {
  color: black;
}

.copyright p {
  color: white;
  margin: 0;
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .copyright p {
    font-size: 18px;
  }
}