/* * {
  outline: 1px solid red;
} */

:root {
  --p_fz: 14px;
  --green:#356618;
  --light_green:#b3cca3;
  --grass:#e8ec9d;
  --gray:#6c757d;
  --brown:#836045;  
}

p,
li,
span {
  font-size: var(--p_fz);
}


body {
  background-image: url(./img/bg-body.jpg);
}

.body_wrapper {
  background-color: var(--green);
}

.container-fluid {
  /* min-width: 320px; 造成捲軸困擾降低使用者體驗*/
  max-width: 891px;
}

a {
  text-decoration: none;
}

/* header */
.nav_wrapper.navbar-light .container-fluid {
  background-color: #4B4B4B;
}

.logo a {
  max-width: 400px;
  box-sizing: content-box;
}

/* 變更bootstrap預設 */
/* 加入.nav_wrapper方便回復bootstrap預設及區域客製管理 */
.nav_wrapper.navbar-light .navbar-nav .nav-link {
  color: #f4f5c7;
  padding: 0.75em;
}

/* 變更bootstrap預設 */
.nav_wrapper.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  background-color: #D9EACF;
  color: black;
}

/* 變更bootstrap預設 */
.nav_wrapper.navbar-light .navbar-nav .active {
  background-color: #95b285;
  color: var(--green);
}

@media (min-width: 768px) {
  .banner_text {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/* main section banner */
.banner_text h4 {
  text-transform: uppercase;
  color: var(--grass);
}

.banner_text p {
  color: white;
}

.banner_text i {
  color: #788E91
}

.banner_text a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.banner_text a:hover p,
.banner_text a:hover i {
  color: var(--green);
}

.banner_list_img_box h6 {
  color: var(--grass);
}

.banner_list_img_box p {
  color: white;
}

.logo:hover,
.banner_list_img_box img:hover {
  transform: scale(1.1);
}

.banner_list_img_box:not(:nth-of-type(1)) {
  border-top: 1px solid var(--gray);
}

@media (min-width: 768px) {
  .banner_list_img_box:not(:nth-of-type(1)) {
    border-top: unset;
  }
  .banner_list_img_box {
    position: relative;
  }
  /* 裝飾線 */
  .banner_list_img_box:not(:nth-of-type(1))::before {
    content: "";
    position: absolute;
    left: 0;
    top:calc(16px/2);
    width: 1px;
    height: calc(100% - 16px);
    background-color: var(--gray);
  }
}


@media (min-width: 768px) {
  .banner_list_img_box img {
    width: 100%;
    height: unset;
  }
}

/* main section weekly_topics */
.weekly_topics h3 {
  background-color: #DBE8D4;
  color: var(--brown);
  border-bottom: var(--light_green) 2px solid;
  text-transform: uppercase;
  font-size: 18px;
}

.garden_img:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.weekly_topics h5 {
  color: var(--brown);
  text-transform: uppercase;
}
/* 為數字標號單獨粗體而寫 */
.weekly_tips li {
  list-style-type: none;
  counter-increment: item;
  text-indent: -2.5em;
}

.weekly_tips li::before {
  content: counter(item)".";
  display: inline-block;
  width: 2em;
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
  box-sizing: content-box;
}

/* footer */
.footer_blocks {
  background-color: #dbe9d4;
  color: var(--gray);
}

.footer_block h4 {
  text-transform: uppercase;
  text-shadow: 1px 1px white;
}

.footer_block:not(.footer_block:nth-of-type(4)) {
  border-bottom: 1px var(--light_green) solid;
}


@media (min-width: 768px) {
  .footer_block:not(.footer_block:nth-of-type(1)) {
    border-left: 1px var(--light_green) solid;
  }
}

.social_media a {
  color: var(--gray);
  width: 6em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .social_media a {
    width: unset;
    margin: unset;
  }
}

.social_media i {
  font-size: 1em;
  color: var(--green);
  vertical-align: middle;
}

.social_media span {
  vertical-align: middle;
}

.social_media a:hover i,
.social_media a:hover span {
  color: black;
}

.copyright p {
  color: white;
  margin: 0;
}