.footer_wrapper{
    background-color: #DCE8D4;
    font-weight: 500;
}

.footer_card{
    color: #7e7c7f;
    border-top: #C2d786 1px solid;
    border-right: #C2d786 1px solid;
}


.footer_card_title{
    text-shadow:1px 1px #FFF; /* 文字邊框 */
    font-size: 20px;
}

.footer_card_icon_container{
    display: inline-block; /* 在手機時置中 */
    text-align: start;
}

@media(max-width:426px){
    .footer_card_icon_container{
        left:35%
    }
}

.footer_card_icon {
    display: block;
    color: #266000;
    font-size: 20px;
}

.footer_card_icon:hover{
    color:#7e7c7f;
}

.footer_card a {
    display: inline-block; /* 讓a點擊的範圍只有字而非一整行 */
    color: #7e7c7f;
    text-decoration: none;
}

.footer_card a:hover {
    color:black;
}

.footer_card_icon_container a{
    display: block;
}

.footer_card_icon i{
    color: #356618;
    margin-right: 5px;
    vertical-align: top;

}
.footer_card_icon span{
    color: #7e7c7f;
    font-size: 14px;
    vertical-align: top;
}

.footer_card_icon span:hover {
    color: black;
}


.copyright_content {
    width: fit-content;
    color: #FFF;
    font-size: 16px;
    margin: auto;
}

@media (min-width:376px) {
    .copyright p{
        display: inline-block;
    }
}

@media(max-width:767px){
    .footer_card{
        text-align: center;
    }
}