* {
  font-family: 'Lato', sans-serif;
  /* outline: 1px solid red; */
}

/* 文字標籤下面有預設margin、需要手動歸零  */

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../img/bg-body.jpg');
}

.container {
  background-color:#356618;
}

@media (min-width:1440px) {
  .container{
    max-width: 1080px;
  }
  
}
/* header */

h1 {
  background-color: white;
  text-align: center;
}

.logo_small{
  display: none;
}

@media (max-width:768px) {
  .logo_big {
    display: none;
  }
  .logo_small{
    display:inline-block;
  }
  
}

/* nav */

nav {
  border-bottom: #EBEDC5 solid 1px ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: rgb(0, 0, 0);
    display: none;
  } 

@media(max-width:991px){
  .navbar-toggler{
    display: inline-block;
    float: left;
  }
}

.navbar{
  background-color: #4b4b4b;
  padding: 0;
  margin: 0;
}

.navbar-nav {
display: flex;
flex-grow: 1;
text-align: center;

}

.nav-link{
  flex-grow: 1;
}

.nav-link.active  {
  color: #286000 !important;
  background-color: #96B285;
}

.nav-link {
  padding: 15px 0 15px;
  color :#EBEDC5 !important;
}

.nav-link:hover {
  color:#4b4b4b !important;
  background-color: #D9EACF ;
}

/* banner */

/* .banner_wrapper{
  height: 100vh;
  background-image: url('../img/gardening1.jpg');
  background-position:top;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
} */

.banner_introduction{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom:0;
}

.banner_title{
  color:#EBEE9E;
}

.banner_content{
  color:#FDFDFC;
  font-size: 15px;
  line-height: 2;
}

.banner_button {
  color:#7E9597;
  display: contents;
}

@media(max-width:767px){
  .banner_introduction{
    height: 40%;
  }
  .banner_content{
    word-wrap: break-word;
  }
}

@media(max-width:766px){
  .banner_introduction{
    display: none;
  }
}




