/* section */

.garden_card img {
    display: block;
    border: #FDFDFC solid 2px;
    height: fit-content; /* 維持正方形 */
}

.garden_tips{
    padding: 0 10px;
}

.garden_card {
    display: flex;
    position: relative;
}

.garden_card:not(:last-child)::after{ 
    content: '';
    width: 3px;
    background-color: #3F7420;
    border-right: #2A5A0E solid 1px;
}

@media (max-width:1023px) {
    .garden_card:not(:last-child)::after { 
        content: "";
        position: absolute;
        height: 1px;
        background: #EBEE9E;
        bottom: 0;
        width: 95%;
    }
}


.garden_card h3 {
    color: #EBEE9E;
    font-size: 18px;
}

.garden_card p {
    color: #FDFDFC;
    word-wrap: break-word;
}

.card_information p{
    width: 85%;
}

@media (max-width:1023px) {
    .card_information p{
        width: 100%;
    }
    .garden_card p {
        color: #FDFDFC;
        font-size: 14px;
    }
}